# Format: Number=ProjectName|ProjectPath|BranchName
# Example: 1=MyProject|C:\Path\To\Project|main

# To make it work you need:
# 1. Create or rename this file with the name "Git-Push_Info.conf" in ".conf-files folder.
# 2. Add there options following the format and example written up there.
# 3. Run "Git-Push.bat".
