# Format:
# alias [COMMAND]=[ACTION]

# Example:
# alias git-hello='echo "Hello, World!"'

# To make it work you need:
# 1. Create or rename this file with the name "Git-Aliases_Info.conf" in ".conf-files folder.
# 2. Add there options following the format and example written up there.
# 3. Run "Git-Aliases.bat".
