# Format: Number=ProjectName|ProjectPath
# Example: 1=MyProject|C:\Path\To\Project
# Create or rename this file with the name "Git-Push_Info.conf" and add there options following the format and example written up there.
