# Format:
# Number=ProjectName|ProjectPath|BranchName

# Example:
# 1=MyProject|/home/user/projects/mycoolproject|first
# 2=MyProjectButSecond|/d/Path/To/Project|second

# To make it work you need:
# 1. Create or rename this file with the name "Git-Sync_Info.conf" in "Configs" directory.
# 2. Add there options following the format and example written up there.
# 3. Run "Git-Sync.sh".
