# Format:
# Number=ProjectName|ProjectPath|BranchName

# Example:
# 1=MyProjectWin|C:\Path\To\Project|win
# 2=MyProjectLinux|/d/Path/To/Project|linux

# To make it work you need:
# 1. Create or rename this file with the name "Git-Push_Info.conf" in "Configs" directory.
# 2. Add there options following the format and example written up there.
# 3. Run "Git-Push.bat".
